  <!-- Footer Section Begin -->
  <footer class="footer" style="background-color: #dd2d50">
    <div class="container">
      <div class="row">
        <div class="col-lg-3 col-md-6 col-sm-6">
          <div class="footer__about">
            <div class="footer__logo">
              <a href="#" style="color: white !important"
                ><img
                  src="/images/logo.png"
                  alt=""
                  style="filter: invert(1); width: 45px"
                />Blendify</a
              >
            </div>
            <p style="color: white">Blendify, Inc.</p>
            <a href="#"
              ><svg
                xmlns="http://www.w3.org/2000/svg"
                x="0px"
                y="0px"
                width="25"
                height="25"
                viewBox="0 0 30 30"
                style="filter: invert(1)"
              >
                <path
                  d="M15,3C8.373,3,3,8.373,3,15c0,6.016,4.432,10.984,10.206,11.852V18.18h-2.969v-3.154h2.969v-2.099c0-3.475,1.693-5,4.581-5 c1.383,0,2.115,0.103,2.461,0.149v2.753h-1.97c-1.226,0-1.654,1.163-1.654,2.473v1.724h3.593L19.73,18.18h-3.106v8.697 C22.481,26.083,27,21.075,27,15C27,8.373,21.627,3,15,3z"
                ></path></svg
            ></a>
            <a href="#"
              ><svg
                xmlns="http://www.w3.org/2000/svg"
                x="0px"
                y="0px"
                width="25"
                height="25"
                viewBox="0 0 30 30"
                style="filter: invert(1)"
              >
                <path
                  d="M 9.9980469 3 C 6.1390469 3 3 6.1419531 3 10.001953 L 3 20.001953 C 3 23.860953 6.1419531 27 10.001953 27 L 20.001953 27 C 23.860953 27 27 23.858047 27 19.998047 L 27 9.9980469 C 27 6.1390469 23.858047 3 19.998047 3 L 9.9980469 3 z M 22 7 C 22.552 7 23 7.448 23 8 C 23 8.552 22.552 9 22 9 C 21.448 9 21 8.552 21 8 C 21 7.448 21.448 7 22 7 z M 15 9 C 18.309 9 21 11.691 21 15 C 21 18.309 18.309 21 15 21 C 11.691 21 9 18.309 9 15 C 9 11.691 11.691 9 15 9 z M 15 11 A 4 4 0 0 0 11 15 A 4 4 0 0 0 15 19 A 4 4 0 0 0 19 15 A 4 4 0 0 0 15 11 z"
                ></path></svg
            ></a>
            <a href="#"
              ><svg
                xmlns="http://www.w3.org/2000/svg"
                x="0px"
                y="0px"
                width="25"
                height="25"
                viewBox="0 0 30 30"
                style="filter: invert(1)"
              >
                <path
                  d="M15,3C8.373,3,3,8.373,3,15c0,5.084,3.163,9.426,7.627,11.174c-0.105-0.949-0.2-2.406,0.042-3.442 c0.218-0.936,1.407-5.965,1.407-5.965s-0.359-0.719-0.359-1.781c0-1.669,0.967-2.914,2.171-2.914c1.024,0,1.518,0.769,1.518,1.69 c0,1.03-0.655,2.569-0.994,3.995c-0.283,1.195,0.599,2.169,1.777,2.169c2.133,0,3.772-2.249,3.772-5.495 c0-2.873-2.064-4.882-5.012-4.882c-3.414,0-5.418,2.561-5.418,5.208c0,1.031,0.397,2.137,0.893,2.739 c0.098,0.119,0.112,0.223,0.083,0.344c-0.091,0.379-0.293,1.194-0.333,1.361c-0.052,0.22-0.174,0.266-0.401,0.16 c-1.499-0.698-2.436-2.889-2.436-4.649c0-3.785,2.75-7.262,7.929-7.262c4.163,0,7.398,2.966,7.398,6.931 c0,4.136-2.608,7.464-6.227,7.464c-1.216,0-2.359-0.632-2.75-1.378c0,0-0.602,2.291-0.748,2.853 c-0.271,1.042-1.002,2.349-1.492,3.146C12.57,26.812,13.763,27,15,27c6.627,0,12-5.373,12-12S21.627,3,15,3z"
                ></path></svg
            ></a>
            <a href="#"
              ><svg
                xmlns="http://www.w3.org/2000/svg"
                x="0px"
                y="0px"
                width="23"
                height="23"
                viewBox="0 0 24 24"
                style="filter: invert(1)"
              >
                <path
                  d="M 17.214844 2.9863281 A 1.250125 1.250125 0 0 0 16.277344 3.4648438 L 12.351562 8.3339844 L 9.0566406 3.7714844 C 8.7066406 3.2874844 8.1458281 3 7.5488281 3 L 4.078125 3 C 3.420125 3 3.0388281 3.7462969 3.4238281 4.2792969 L 9.1855469 12.257812 L 3.7773438 18.964844 A 1.250125 1.250125 0 1 0 5.7226562 20.535156 L 10.703125 14.359375 L 14.943359 20.228516 C 15.293359 20.712516 15.854172 21 16.451172 21 L 19.921875 21 C 20.579875 21 20.961172 20.253703 20.576172 19.720703 L 13.869141 10.433594 L 18.222656 5.0351562 A 1.250125 1.250125 0 0 0 17.214844 2.9863281 z"
                ></path></svg
            ></a>
          </div>
        </div>
        <div class="col-lg-2 offset-lg-1 col-md-3 col-sm-6">
          <div class="footer__widget">
            <h6>Quick Links</h6>
            <ul>
              <li><a href="#" style="color: white">Home</a></li>
              <li><a href="#" style="color: white">About</a></li>
              <li><a href="#" style="color: white">Products</a></li>
              <li><a href="#" style="color: white">Contact</a></li>
            </ul>
          </div>
        </div>
        <div class="col-lg-2 col-md-3 col-sm-6">
          <div class="footer__widget">
            <h6>Our Company</h6>
            <ul>
              <li><a href="#" style="color: white">History</a></li>
              <li><a href="#" style="color: white">Mission</a></li>
              <li><a href="#" style="color: white">Team</a></li>
              <li><a href="#" style="color: white">Careers</a></li>
            </ul>
          </div>
        </div>
        <div class="col-lg-3 offset-lg-1 col-md-6 col-sm-6">
          <div class="footer__widget">
            <h6 style="color: white">Connect with Us</h6>
            <div class="footer__newslatter">
              <p style="color: white">
                Be the first to know about new arrivals, look books, sales &
                promos!
              </p>
              <!-- <form action="#" >
                              <input type="text" placeholder="Your email" >
                              <button type="submit"><span class="icon_mail_alt"></span></button>
                          </form> -->
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12 text-center">
          <div class="footer__copyright__text" style="color: white">
            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
            <p style="color: white">
              Copyright ©
              <script>
                document.write(new Date().getFullYear());
              </script>
              2020 All rights reserved | Blendify
              <i class="fa fa-heart-o" aria-hidden="true"></i>
              <!-- <a href="https://colorlib.com" target="_blank">Colorlib</a> -->
            </p>
            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
          </div>
        </div>
      </div>
    </div>
  </footer>
  <!-- Footer Section End -->

  <!-- Search Begin -->
  <div class="search-model">
    <div class="h-100 d-flex align-items-center justify-content-center">
      <div class="search-close-switch">+</div>
      <form class="search-model-form">
        <input type="text" id="search-input" placeholder="Search here....." />
      </form>
    </div>
  </div>
  <!-- Search End -->

  <!-- Js Plugins -->
  <script src="/js/userJs/jquery-3.3.1.min.js"></script>
  <script src="/js/userJs/bootstrap.min.js"></script>
  <script src="/js/userJs/jquery.nice-select.min.js"></script>
  <script src="/js/userJs/jquery.nicescroll.min.js"></script>
  <script src="/js/userJs/jquery.magnific-popup.min.js"></script>
  <script src="/js/userJs/jquery.countdown.min.js"></script>
  <script src="/js/userJs/jquery.slicknav.js"></script>
  <script src="/js/userJs/mixitup.min.js"></script>
  <script src="/js/userJs/owl.carousel.min.js"></script>
  <script src="/js/userJs/main.js"></script>
</body>
</html>
