<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="description"
      content="Blendify - let you Customize your smoothie"
    />
    <meta name="keywords" content="Male_Fashion, unica, creative, html" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="shortcut icon" href="/images/logo.png" type="image/x-icon" />
    <title>Blendify</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.1/css/all.min.css"
      integrity="sha512-5Hs3dF2AEPkpNAR7UiOHba+lRSJNeM2ECkwxUIxC1Q/FLycGTbNapWXB4tP889k5T5Ju8fs4b1P5z/iB4nMfSQ=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <!-- Google Font -->
    <link
      href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700;800;900&display=swap"
      rel="stylesheet"
    />

    <!-- Css Styles -->
    <link
      rel="stylesheet"
      href="/styles/userStyle/bootstrap.min.css"
      type="text/css"
    />
    <link
      rel="stylesheet"
      href="/styles/userStyle/font-awesome.min.css"
      type="text/css"
    />
    <link
      rel="stylesheet"
      href="/styles/userStyle/elegant-icons.css"
      type="text/css"
    />
    <link
      rel="stylesheet"
      href="/styles/userStyle/magnific-popup.css"
      type="text/css"
    />
    <link
      rel="stylesheet"
      href="/styles/userStyle/nice-select.css"
      type="text/css"
    />
    <link
      rel="stylesheet"
      href="/styles/userStyle/owl.carousel.min.css"
      type="text/css"
    />
    <link
      rel="stylesheet"
      href="/styles/userStyle/slicknav.min.css"
      type="text/css"
    />
    <link rel="stylesheet" href="/styles/userStyle/style.css" type="text/css" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css"
    />
    <style>
      .marquee {
        display: inline-block;
        white-space: nowrap;
        overflow: hidden;
        box-sizing: border-box;
        animation: scroll-left 10s linear infinite;
      }

      @keyframes scroll-left {
        from {
          transform: translateX(100%);
        }
        to {
          transform: translateX(-100%);
        }
      }
    </style>
  </head>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  <body>
    <!-- Page Preloder -->
    <div id="preloder">
      <div class="loader"></div>
    </div>

    <!-- Offcanvas Menu Begin -->
    <div class="offcanvas-menu-overlay"></div>
    <div class="offcanvas-menu-wrapper">
      <div class="offcanvas__option">
        <div class="offcanvas__links">
          <a
            href="/signup"
            style="
              color: rgb(0, 0, 0);

              padding: 0 10px;
            "
            >SIGN UP</a
          >
          <a href="/login" style="color: rgb(0, 0, 0)">LOGIN</a>
          <!-- <a href="#">FAQs</a> -->
        </div>
        <!-- <div class="offcanvas__top__hover">
          <span>Usd <i class="arrow_carrot-down"></i></span>
          <ul>
            <li>USD</li>
            <li>EUR</li>
            <li>USD</li>
          </ul>
        </div> -->
      </div>
      <div class="offcanvas__nav__option">
        <a href="#" class="search-switch"
          ><img src="/images/icon/search.png" alt=""
        /></a>
        <a href="/wishlist"><img src="/images/icon/heart.png" alt="" /></a>
        <a href="/cart"
          ><img src="/images/icon/cart.png" alt="" /> <span>0</span></a
        >
        <div class="price">$0.00</div>
      </div>
      <div id="mobile-menu-wrap"></div>
      <div class="offcanvas__text">
        <p>Free shipping, 30-day return or refund guarantee.asss</p>
      </div>
    </div>
    <!-- Offcanvas Menu End -->

    <!-- Header Section Begin -->
    <header class="header">
      <div class="header__top" style="background-color: #bf3320">
        <div class="container">
          <div class="row">
            <div class="col-lg-6 col-md-7">
              <div class="header__top__left">
                <p>Free shipping, 30-day return or refund guarantee.</p>
              </div>
            </div>
            <div class="col-lg-6 col-md-5">
              <div class="header__top__right">
                <div class="header__top__links">
                  <!-- <%if(locals.user){%> -->
                  <!-- <div class="header__top__hover"> -->
                  <!-- <a href="#"><%=locals.user.name%></a> -->
                  <!-- <span><i class="arrow_carrot-down"></i></span>
                      <ul>
                          <li><a href="/userProfile">Profile</a></li>
                          <li><a href="/logout">Logout</a></li>
                      </ul> -->
                  <!-- </div> -->
                  <!-- <%}else{%> -->

                  <!-- <%}%> -->
                  <!-- <a href="#">FAQs</a> -->
                </div>
                <%if(locals.user){%>
                <div class="header__top__hover">
                  <span><%=locals.user.name%> </span>
                  <ul>
                    <li><a href="/profile">Profile</a></li>
                    <li><a href="/logout" style="color: black">Logout</a></li>
                    <!-- <li>USD</li> -->
                  </ul>
                </div>
                <%}else{%>
                <a
                  href="/login"
                  style="
                    color: white;

                    padding: 0 10px;
                  "
                  >LOGIN</a
                >
                <a href="/signup" style="color: white">SIGN UP</a>
                <%}%>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-lg-2 col-md-2">
            <div class="header__logo" style="padding: 15px 0">
              <a
                href="./index.html"
                style="color: black; font-size: x-large; font-weight: 900"
                ><img src="/images/logo.png" alt="" width="50px" />Blendify</a
              >
            </div>
          </div>
          <div class="col-lg-7 col-md-7">
            <nav class="header__menu mobile-menu">
              <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/shop">Shop</a></li>
                <!-- <li>
                  <a href="#">Customize</a>
                </li> -->
                <li><a href="./blog.html">About</a></li>
                <li><a href="./blog.html">Blog</a></li>
                <li><a href="./contact.html">Contacts</a></li>
              </ul>
            </nav>
          </div>
          <div class="col-lg-3 col-md-3">
            <div class="header__nav__option">
              <a href="#" class="search-switch"
                ><img src="/images/userImg/icon/search.png" alt=""
              /></a>
              <a href="/wishlist"
                ><img src="/images/userImg/icon/heart.png" alt=""
              /></a>
              <a href="/cart"
                ><img src="/images//userImg/icon/cart.png" alt="" />
                <!-- <span>0</span> -->
                </a
              >
              <!-- <div class="price">$0.00</div> -->
            </div>
          </div>
        </div>
        <div class="canvas__open"><i class="fa fa-bars"></i></div>
      </div>
    </header>
  </body>
</html>
