<%- include("../../views/partials/user/header") %>
<!-- Header Section End -->

<!-- Hero Section Begin -->
<section class="hero">
  <div class="hero__slider owl-carousel">
    <div class="hero__items set-bg" data-setbg="/images/userImg/home/img2.jpg">
      <div class="container">
        <div class="row">
          <div
            class="col-xl-5 col-lg-7 col-md-8"
            style="outline: 20px solid white; background-color: white"
          >
            <div class="hero__text">
              <h2 style="color: #bf3320">Customize Your</h2>
              <div>
                <img
                  src="/images/userImg/home/smoothies.png"
                  alt=""
                  srcset=""
                  style="position: relative; top: -11px"
                />
              </div>
              <p>
                Create the Perfect Smoothie, Just for You Customize your
                smoothie with fresh ingredients, track nutrients in real-time,
                and choose from classic recipes or build your own.
              </p>
              <a href="#" class="primary-btn lets-go"
                >Let's go <span class="arrow_right"></span
              ></a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="hero__items set-bg" data-setbg="/images/hero/hero-2.jpg">
      <div class="container">
        <div class="row">
          <div class="col-xl-5 col-lg-7 col-md-8">
            <div class="hero__text">
              <h6>Summer Collection</h6>
              <h2>Fall - Winter Collections 2030</h2>
              <p>
                A specialist label creating luxury essentials. Ethically crafted
                with an unwavering commitment to exceptional quality.
              </p>
              <a href="#" class="primary-btn"
                >Shop now <span class="arrow_right"></span
              ></a>
              <div class="hero__social">
                <a href="#"><i class="fa fa-facebook"></i></a>
                <a href="#"><i class="fa fa-twitter"></i></a>
                <a href="#"><i class="fa fa-pinterest"></i></a>
                <a href="#"><i class="fa fa-instagram"></i></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Hero Section End -->

<!-- Banner Section Begin -->
<section class="banner spad">
  <div class="container">
    <div class="row">
      <div class="col-lg-7 offset-lg-4">
        <div class="banner__item">
          <div class="banner__item__pic">
            <img src="/images/userImg/home/image2.jpg" alt="" width="440" />
          </div>
          <div class="banner__item__text">
            <h2>
              <span style="color: #bf3320">Energy Boost</span> -
              <span>Energizing, Uplifting</span>
            </h2>
            <a href="#">Explore</a>
          </div>
        </div>
      </div>
      <div class="col-lg-5">
        <div class="banner__item banner__item--middle">
          <div class="banner__item__pic">
            <img src="/images/userImg/home/image5.jpg" alt="" width="440" />
          </div>
          <div class="banner__item__text">
            <h2>
              <span style="color: #bf3320">Post Workout -</span>Replenishing,
              Restorative
            </h2>
            <a href="#">Explore</a>
          </div>
        </div>
      </div>
      <div class="col-lg-7">
        <div class="banner__item banner__item--last">
          <div class="banner__item__pic">
            <img src="/images/userImg/home/image11.jpg" alt="" width="440" />
          </div>
          <div class="banner__item__text">
            <h2>
              <span style="color: #bf3320">Desert Inspired -</span>Indulgent,
              Sweet
            </h2>
            <a href="#">Explore</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Banner Section End -->

<!-- Product Section Begin -->
<section class="product spad">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <ul class="filter__controls">
          <li class="active" data-filter="*">Best Sellers</li>
          <li data-filter=".new-arrivals">New Arrivals</li>
          <li data-filter=".hot-sales">Hot Sales</li>
        </ul>
      </div>
    </div>
    <div class="row product__filter">
      <div
        class="col-lg-3 col-md-6 col-sm-6 col-md-6 col-sm-6 mix new-arrivals"
      >
        <div class="product__item">
          <div
            class="product__item__pic set-bg"
            data-setbg="/images/userImg/product/product6.jpg"
          >
            <span class="label">New</span>
            <ul class="product__hover">
              <li>
                <a href="#"
                  ><img src="/images/userImg/icon/heart.png" alt=""
                /></a>
              </li>
            </ul>
          </div>
          <div class="product__item__text">
            <h6>Superfood Splash</h6>
            <a href="#" class="add-cart">+ Add To Cart</a>
            <div class="rating">
              <i class="fa fa-star-o"></i>
              <i class="fa fa-star-o"></i>
              <i class="fa fa-star-o"></i>
              <i class="fa fa-star-o"></i>
              <i class="fa fa-star-o"></i>
            </div>
            <h5>₹120</h5>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6 col-md-6 col-sm-6 mix hot-sales">
        <div class="product__item">
          <div
            class="product__item__pic set-bg"
            data-setbg="/images/userImg/product/product7.jpg"
          >
            <ul class="product__hover">
              <li>
                <a href="#"
                  ><img src="/images/userImg/icon/heart.png" alt=""
                /></a>
              </li>
            </ul>
          </div>
          <div class="product__item__text">
            <h6>Morning Zing</h6>
            <a href="#" class="add-cart">+ Add To Cart</a>
            <div class="rating">
              <i class="fa fa-star-o"></i>
              <i class="fa fa-star-o"></i>
              <i class="fa fa-star-o"></i>
              <i class="fa fa-star-o"></i>
              <i class="fa fa-star-o"></i>
            </div>
            <h5>₹130</h5>
          </div>
        </div>
      </div>
      <div
        class="col-lg-3 col-md-6 col-sm-6 col-md-6 col-sm-6 mix new-arrivals"
      >
        <div class="product__item sale">
          <div
            class="product__item__pic set-bg"
            data-setbg="/images/userImg/product/product3.jpg"
          >
            <span class="label">Sale</span>
            <ul class="product__hover">
              <li>
                <a href="#"
                  ><img src="/images/userImg/icon/heart.png" alt=""
                /></a>
              </li>
            </ul>
          </div>
          <div class="product__item__text">
            <h6>Power Surge</h6>
            <a href="#" class="add-cart">+ Add To Cart</a>
            <div class="rating">
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star-o"></i>
            </div>
            <h5>₹200</h5>
       
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6 col-md-6 col-sm-6 mix hot-sales">
        <div class="product__item">
          <div
            class="product__item__pic set-bg"
            data-setbg="/images/userImg/product/product5.jpg"
          >
            <ul class="product__hover">
              <li>
                <a href="#"
                  ><img src="/images/userImg/icon/heart.png" alt=""
                /></a>
              </li>
            </ul>
          </div>
          <div class="product__item__text">
            <h6>Defense Delight</h6>
            <a href="#" class="add-cart">+ Add To Cart</a>
            <div class="rating">
              <i class="fa fa-star-o"></i>
              <i class="fa fa-star-o"></i>
              <i class="fa fa-star-o"></i>
              <i class="fa fa-star-o"></i>
              <i class="fa fa-star-o"></i>
            </div>
            <h5>₹220</h5>
          </div>
        </div>
      </div>
      <div
        class="col-lg-3 col-md-6 col-sm-6 col-md-6 col-sm-6 mix new-arrivals"
      >
        <div class="product__item">
          <div
            class="product__item__pic set-bg"
            data-setbg="/images/userImg/product/product4.jpg"
          >
            <ul class="product__hover">
              <li>
                <a href="#"
                  ><img src="/images/userImg/icon/heart.png" alt=""
                /></a>
              </li>
            </ul>
          </div>
          <div class="product__item__text">
            <h6>Berry Bliss</h6>
            <a href="#" class="add-cart">+ Add To Cart</a>
            <div class="rating">
              <i class="fa fa-star-o"></i>
              <i class="fa fa-star-o"></i>
              <i class="fa fa-star-o"></i>
              <i class="fa fa-star-o"></i>
              <i class="fa fa-star-o"></i>
            </div>
            <h5>₹220</h5>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6 col-md-6 col-sm-6 mix hot-sales">
        <div class="product__item sale">
          <div
            class="product__item__pic set-bg"
            data-setbg="/images/userImg/product/product3.jpg"
          >
            <span class="label">Sale</span>
            <ul class="product__hover">
              <li>
                <a href="#"
                  ><img src="/images/userImg/icon/heart.png" alt=""
                /></a>
              </li>
            </ul>
          </div>
          <div class="product__item__text">
            <h6>Green Harmony</h6>
            <a href="#" class="add-cart">+ Add To Cart</a>
            <div class="rating">
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star-o"></i>
            </div>
            <h5>₹200</h5>
          </div>
        </div>
      </div>
      <div
        class="col-lg-3 col-md-6 col-sm-6 col-md-6 col-sm-6 mix new-arrivals"
      >
        <div class="product__item">
          <div
            class="product__item__pic set-bg"
            data-setbg="/images/userImg/product/product14.jpg"
          >
            <ul class="product__hover">
              <li>
                <a href="#"
                  ><img src="/images/userImg/icon/heart.png" alt=""
                /></a>
              </li>
            </ul>
          </div>
          <div class="product__item__text">
            <h6>Muscle Magic</h6>
            <a href="#" class="add-cart">+ Add To Cart</a>
            <div class="rating">
              <i class="fa fa-star-o"></i>
              <i class="fa fa-star-o"></i>
              <i class="fa fa-star-o"></i>
              <i class="fa fa-star-o"></i>
              <i class="fa fa-star-o"></i>
            </div>
            <h5>₹210</h5>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6 col-md-6 col-sm-6 mix hot-sales">
        <div class="product__item">
          <div
            class="product__item__pic set-bg"
            data-setbg="/images/userImg/product/product9.jpg"
          >
            <ul class="product__hover">
              <li>
                <a href="#"
                  ><img src="/images/userImg/icon/heart.png" alt=""
                /></a>
              </li>
            </ul>
          </div>
          <div class="product__item__text">
            <h6>Recovery Fuel</h6>
            <a href="#" class="add-cart">+ Add To Cart</a>
            <div class="rating">
              <i class="fa fa-star-o"></i>
              <i class="fa fa-star-o"></i>
              <i class="fa fa-star-o"></i>
              <i class="fa fa-star-o"></i>
              <i class="fa fa-star-o"></i>
            </div>
            <h5>₹280</h5>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Product Section End -->

<!-- Categories Section Begin -->
<section class="categories spad">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="categories__hot__deal">
          <!-- <img src="/images/product-sale.png" alt=""> -->
          <video controls style="width: 90vw">
            <source src="/videos/vdsm.mp4" type="video/mp4" />
            Your browser does not support the video tag.
          </video>
          <div class="hot__deal__sticker">
            <span>Our New</span>
            <h5>Smoothie</h5>
          </div>
        </div>
      </div>
      <!-- <div class="col-lg-2 offset-lg-1">
                    <div class="categories__deal__countdown">
                        <span>Deal Of The Week</span>
                        <h2>Multi-pocket Chest Bag Black</h2>
                        <div class="categories__deal__countdown__timer" id="countdown">
                            <div class="cd-item">
                                <span>3</span>
                                <p>Days</p>
                            </div>
                            <div class="cd-item">
                                <span>1</span>
                                <p>Hours</p>
                            </div>
                            <div class="cd-item">
                                <span>50</span>
                                <p>Minutes</p>
                            </div>
                            <div class="cd-item">
                                <span>18</span>
                                <p>Seconds</p>
                            </div>
                        </div>
                        <a href="#" class="primary-btn">Shop now</a>
                    </div>
                </div> -->
    </div>
  </div>
</section>
<!-- Categories Section End -->

<!-- Instagram Section Begin -->
<section class="instagram spad">
  <div class="container">
    <div class="row">
      <div class="col-lg-8">
        <div class="instagram__pic">
          <div
            class="instagram__pic__item set-bg"
            data-setbg="/images/userImg/person/person1.jpg"
          >
            <a href="#" class="primary-btn person">Read</a>
          </div>
          <div
            class="instagram__pic__item set-bg"
            data-setbg="/images/userImg/person/person2.jpg"
          >
            <a href="#" class="primary-btn person">Read</a>
          </div>
          <div
            class="instagram__pic__item set-bg"
            data-setbg="/images/userImg/person/person3.jpg"
          >
            <a href="#" class="primary-btn person">Read</a>
          </div>
          <div
            class="instagram__pic__item set-bg"
            data-setbg="/images/userImg/person/person12.jpg"
          >
            <a href="#" class="primary-btn person">Read</a>
          </div>
          <div
            class="instagram__pic__item set-bg"
            data-setbg="/images/userImg/person/person5.jpg"
          >
            <a href="#" class="primary-btn person">Read</a>
          </div>
          <div
            class="instagram__pic__item set-bg"
            data-setbg="/images/userImg/person/person9.jpg"
          >
            <a href="#" class="primary-btn person">Read</a>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="instagram__text">
          <h2>Testimonial</h2>
          <p>
            Our customers are loving the freedom to create their own unique
            smoothies. Check out what they have to say about our fresh
            ingredients, seamless customization, and nutritious boosts!
          </p>
          <!-- <h3>#Male_Fashion</h3> -->
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Instagram Section End -->

<!-- Latest Blog Section Begin -->
<section class="latest spad">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="section-title">
          <!-- <span>Featred Blogs</span> -->
          <span>.</span>
          <h2>See what our customers made</h2>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-md-6 col-sm-6">
        <div class="blog__item">
          <div
            class="blog__item__pic set-bg"
            data-setbg="/images/userImg/home/image4.jpg"
          ></div>
          <div class="blog__item__text">
            <span><img src="/images/image11" alt="" /> 16 February 2020</span>
            <h5>My first Customized smoothie is soo delicious.</h5>
            <a href="#">Read More</a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-6">
        <div class="blog__item">
          <div
            class="blog__item__pic set-bg"
            data-setbg="/images/userImg/home/image13.jpg"
          ></div>
          <div class="blog__item__text">
            <span><img src="/images/image12" alt="" /> 21 February 2020</span>
            <h5>Discover new way to make your smoothie</h5>
            <a href="#">Read More</a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-6">
        <div class="blog__item">
          <div
            class="blog__item__pic set-bg"
            data-setbg="/images/userImg/home/image14.jpg"
          ></div>
          <div class="blog__item__text">
            <span><img src="/images/image13" alt="" /> 28 February 2020</span>
            <h5>How smoothie can make your life easier</h5>
            <a href="#">Read More</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Latest Blog Section End -->
<%- include("../../views/partials/user/footer")%>
